<tr>
    <td>{{id}}</td>
     <td>
         <span class="fiv-cla fiv-icon-blank fiv-icon-{{ext name}} fiv-size-md"></span>   
     </td>
     <td>{{name}}</td>
     <td>{{size}}</td>
     <td>{{type}}</td>
     <td><a href="/delete?id={{id}}">DELETE</a></td>
     <td><a href="/info?id={{id}}">INFO</a></td>
     <td><a href="/download?id={{id}}">DOWNLOAD</a></td>
</tr>