<div class = "menu">
        <a href="/">Upload</a>
        <a href="/FileList">Filemenager</a>
</div>
<div class="content">
    <div class="side-menu">
        <h2>Info</h2>
    </div>
    <div class="files">
        <p><span class = "span">ID: </span>{{files.id}}</p>
        <p><span class = "span">Name: </span>{{files.name}}</p>
        <p><span class = "span">Path: </span>: </span>{{files.path}}</p>
        <p><span class = "span">Size: </span>{{files.size}}</p>
        <p><span class = "span">Type: </span>{{files.type}}</p>
        <p><span class = "span">Savedate: </span>{{files.savedate}}</p>
    </div>
</div>